.opacity_07 {
  opacity: 0.7;
}
.leading_130 {
  line-height: 130%;
}
.leading_112 {
  line-height: 112.5%;
}
.leading_150 {
  line-height: 150%;
}
.cursor_pointer {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .custom_container {
    max-width: 1164px !important;
    margin: 0 auto;
    padding: 0 12px;
  }
}
