html, body{
  overflow-x: hidden;
}

.opacity_07 {
  opacity: 0.7;
}
.opacity_01{
  opacity: 0.1;
}
.opacity_08{
  opacity: 0.8;
}
.leading_130 {
  line-height: 130%;
}
.leading_140 {
  line-height: 140%;
}
.cursor_pointer {
  cursor: pointer;
}
.text_primary_gradient {
  background: linear-gradient(215deg, #00bbfc 15.2%, #0075d6 66.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-content{
  background: linear-gradient(215deg, #00bbfc 15.2%, #0075d6 66.98%);
}
.modal-header .btn-close{
  opacity: 100;
}
.custom_scrollbar::-webkit-scrollbar {
  height: 3px;
}
@media (min-width: 992px) {
  /* CUSTOM ABSOLUTE */
  .position_lg_absolute {
    position: absolute;
  }
}
.leading_112 {
  line-height: 112.5%;
}
.leading_150 {
  line-height: 150%;
}
@media (min-width: 1200px) {
  .custom_container {
    max-width: 1164px !important;
    margin: 0 auto;
    padding: 0 12px;
  }
}
