.footer_social_links {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 19.116050720214844px 0px #0189e14d;
}
.footer_icons {
  width: 30px;
  height: 30px;
}
.footer_social_links:hover {
  transform: scale(1.1);
}
.nowrap {
  white-space: nowrap;
}
.footer_li_custom_max_w {
  max-width: 210px;
}
.hover_footer_li {
  opacity: 0.7;
  transition: all 0.3s linear;
}
.hover_footer_li:hover {
  opacity: 1;
}
.footer_bg {
  background-image: url("../images/background/footer_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* OUR CLIENT SECTION  */
.our_client_bg {
  background-image: url("../images/clients/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.our_client_card_box {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6.9px 0px rgba(220, 226, 253, 0.8);
  padding: 10px;
  position: relative;
}
.our_client_card_box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: linear-gradient(225deg, #00BBFC 0%, #0075D6 100%);
box-shadow: 0px 2px 16px 0px rgba(255, 255, 255, 0.12);
backdrop-filter: blur(20px);
}
.our_client_card_box:hover::after {
  opacity: 1;
}

.our_client_card_img {
  width: 100%;
  border-radius: 6px;
  position: relative;
}

.custom_padding_clients_cards {
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 259px; */
  padding-bottom: 20px;
}
/* NEXT STEP SECTION  */
.next_steps_cards_box {
  border-radius: 7.924px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(29.399999618530273px);
  padding: 20px;
  position: relative;
}
.pt_10 {
  padding-top: 10px;
}
.custom_margin {
  margin-top: 80px;
}
.dotted_lines {
  position: relative;
}
.dotted_lines::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 144px;
  width: 295px;
  height: 508px;
  background-image: url("../images/next-steps/dotted_lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stars {
  width: 135px;
  height: 20px;
}
.bg_next {
  background-color: var(--secondary);
}
.next_step_svg_bg {
  background-color: #019eed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.next_steps_cards_box::after {
  position: absolute;
  border-radius: 7px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
  background: var(--Liner, linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%));
}
.next_steps_cards_box:hover::after {
  opacity: 1;
}
.next_steps_cards_box:hover .next_step_svg_bg {
  background-color: white;
}
.next_steps_cards_box:hover .next_step_svg_bg svg path {
  fill: #019eed;
}
.next_steps_cards_box:hover .opacity_01 {
  opacity: 0.3;
}
/* PRELOADER  */
.loader_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99999;
  overflow: hidden;
  height: 100vh;
}
.loading {
  overflow: hidden;
  height: 100vh;
}
.preloader {
  animation-name: preloader;
  animation-duration: 6s;
}
.removeloader {
  display: none;
  overflow: auto;
}
.bg_lines {
  background-image: url("../images/background/bg_lines.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@keyframes preloader {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(0);
  }
}

@media (max-width: 1199.98px) {
  .dotted_lines::before {
    top: -200px;
    left: 94px;
  }
  .stars {
    width: 115px;
    height: 20px;
  }
}
@media (max-width: 991.98px) {
  .bg_next {
    background-color: transparent;
  }
  .footer_social_links {
    width: 40px;
    height: 40px;
  }
  .footer_icons {
    width: 20px;
    height: 20px;
  }
}
.bg_lines {
  background-size: cover;
}
@media (max-width: 767.98px) {
  .footer_social_links {
    width: 35px;
    height: 35px;
  }
  .footer_icons {
    width: 17px;
    height: 17px;
  }
}
@media (max-width: 575.98px) {
  .custom_margin {
    margin-top: 24px;
  }
  .about_card_content {
    top: 45%;
  }
  .footer_social_links {
    width: 30px;
    height: 30px;
  }
  .footer_icons {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 425.98px) {
  .stars {
    width: 95px;
    height: 20px;
  }
}
@media (max-width: 374.98px) {
  .about_card_content {
    top: unset;
  }
}

@media (min-width: 576px) {
  .about_card_content {
    top: 66%;
  }
  @keyframes preloader {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }
}
@media (min-width: 768px) {
  .about_card_content {
    top: 56%;
  }
}
@media (min-width: 992px) {
  .about_card_content {
    top: 46%;
  }
}
@media (min-width: 1200px) {
  .about_card_content {
    top: 48%;
  }
}