.hero_bottom_blur {
  background: linear-gradient(
    0deg,
    #00003c 3.82%,
    rgba(0, 0, 60, 0.78) 44.47%,
    rgba(0, 0, 60, 0) 100%
  );
  height: 5%;
}
.custom_overflow_hidden {
  overflow: hidden !important;
}
.social_links {
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 19.116050720214844px 0px #0189e14d;
  transition: all 0.3s ease-in-out;
}
.blue_linear_gradient {
  background: linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%);
  transition: all 300ms ease-in-out;
}
.blue_linear_gradient:hover {
  box-shadow: inset 5px 0px 10px #2e43aa;
  transition: all 300ms ease-in-out;
}
.nav_bg {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.nav_logo {
  max-width: 239px;
}
.common_button {
  border: 0;
  line-height: 18px;
}
.nav_button {
  padding: 11px 21px;
}
.common_button::after {
  position: relative;
  border-radius: 4px;
}

.gap_10 {
  gap: 10px;
}
.menuicon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 27px;
  height: 23px;
}

.menuicon > span {
  width: 100%;
  height: 3px;
  background: white;
  z-index: 1;
  border-radius: 10px;
}
.crossmenu .bar1 {
  transform: translate(0, 10px) rotate(-45deg);
}

.crossmenu .bar2 {
  opacity: 0;
}

.crossmenu .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}
.nav_visible {
  left: 0 !important;
}
.z_50 {
  z-index: 50;
}
.duration_300 {
  transition: all ease-in-out 300ms;
}
.nav_links:hover {
  opacity: 100%;
}
.social_links:hover {
  transform: scale(1.1);
}
/* HERO SECTION CSS  */
.hero_bg {
  background-image: url(/assets/images/home/hero_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hero_heading {
  max-width: 649px;
  line-height: 112%;
}
.hero_discription {
  max-width: 555px;
  line-height: 150%;
  margin-bottom: 46px;
}
.hero_button {
  padding: 8.5px 12.5px;
}
.common_button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 0.52px solid white;
  outline-offset: 6px;
  border-radius: 0.25px;
}
.common_button::after {
  content: "";
  position: absolute;
  left: 26%;
  bottom: -7.5px;
  width: 20px;
  border-radius: 0;
  height: 2.5px;
  background: #041052;
  transition: all 0.3s ease-in-out;
}
.common_button:hover::after {
  width: 0px;
}

/* SCROLL BAR MODIFY  */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Set width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    225deg,
    #00bbfc 0%,
    #0075d6 89.48%
  ) !important; /* Set color of the thumb */
  border-radius: 6px; /* Round corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set color of the track */
}

/* SOME OF OUR CALL SECTION  */
.slick-track {
  margin-left: -25% !important;
}
.slick-slide {
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}
.slick-current {
  transform: scale(1) !important;
}
.video_slide {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 117, 214, 0.05);
  -webkit-backdrop-filter: blur(7.131249904632568px);
  backdrop-filter: blur(7.131249904632568px);
}
.slider_arrow {
  width: 50px;
  height: 50px;
  z-index: 20;
  box-shadow: 0px 0px 23.799999237060547px 0px #0189e14d;
  border: 0;
  z-index: 20;
}

.left_slide_shodow {
  background: linear-gradient(90deg, #00003c 46.6%, rgba(0, 0, 60, 0) 100%);
  transform: translateY(-50%);
  z-index: 10;
  height: 80%;
  width: 25%;
}
.right_slide_shodow {
  background: linear-gradient(270deg, #00003c 46.6%, rgba(0, 0, 60, 0) 100%);
  transform: translateY(-50%);
  z-index: 10;
  height: 80%;
  width: 25%;
}
.slider_arrow_left {
  left: 70px;
  transform: translateY(-50%);
}
.slider_arrow_right {
  right: 70px;
  transform: rotate(-180deg) translateY(50%);
}

/* Driving Growth, Amplifying Impact  */
.microphone {
  max-width: 230px;
  width: 40%;
  transform: translate(-50%, -50%);
}
.microphone_circle {
  max-width: 529px;
  animation: circle_rotate 4000s ease infinite;
}
.microphone_circle_preloader {
  max-width: 220px;
  animation: circle_rotate 800s ease infinite;
}
@keyframes circle_rotate {
  100% {
    transform: rotate(360000deg);
  }
}
.video_play_button {
  width: 47px;
  height: 47px;
  box-shadow: 0px 0px 17px 0px #0189e14d;
}
.w_half {
  width: 50%;
}
@media (max-width: 1199.9px) {
  .common_button::after {
    transform: translate(-50%, -50%) scaley(1.3) scaleX(1.2);
  }
}
@media (max-width: 991.9px) {
  .mobile_nab {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: #041052;
  }
  .microphone_circle {
    max-width: 400px;
  }
  .nav_logo {
    max-width: 200px;
  }
  .hero_heading {
    max-width: 520px;
  }
  .hero_discription {
    max-width: 450px;
  }
  .slick-track {
    margin-left: -17% !important;
  }
  .slick-slide {
    transform: scale(0.9);
  }
  .left_slide_shodow {
    height: 90%;
    width: 10%;
  }
  .right_slide_shodow {
    height: 90%;
    width: 10%;
  }
  .width_lg_100 {
    width: 100% !important;
  }
  .slider_arrow_left {
    left: 30px;
  }
  .slider_arrow_right {
    right: 30px;
  }
  .overflow_lg_hidden {
    overflow-y: hidden;
  }
  .clipPathCircle {
    clip-path: circle(0px at calc(100% - 45px) 45px);
    transition: all 0.5s ease-out;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
  }
  .navShow {
    transition: all 0.5s linear !important;
    clip-path: circle(75%) !important;
    pointer-events: all !important;
    z-index: 1;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .slider_arrow {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 640px) {
  .slider_arrow {
    margin-top: 24px;
  }
  .slick-track {
    margin-left: 0 !important;
  }
  .slick-slide {
    transform: scale(1);
  }
  .microphone_circle {
    max-width: 350px;
  }
  .left_slide_shodow {
    height: 0;
    width: 0;
  }
  .right_slide_shodow {
    height: 0;
    width: 0;
  }
  .slider_arrow_left {
    transform: translateY(0);
  }
  .slider_arrow_right {
    transform: rotate(-180deg) translateY(0);
  }
}
@media (max-width: 575.9px) {
  .nav_logo {
    max-width: 170px;
  }
}
@media (min-width: 640px) {
  .position_sm_absolute {
    position: absolute;
  }
}
