/* FONT FAMILY LINK  */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
@import url("/assets/css/home.css");
/* FONT FAMILY  */
.ff_outfit {
  font-family: "Outfit", sans-serif;
}
.ff_balsamiq {
  font-family: "Balsamiq Sans", sans-serif;
}
/* ROOT  */
:root {
  --fs-sm: 16px;
  --fs-md: 16px;
  --fs-xl: 16px;
  --fs-2xl: 16px;
  --blue: #00bbfc;
}

/* FONT SIZES  */
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
/* COLORS  */
.clr_blue {
  color: var(--blue);
}
