/* SERVICES CSS START */
.services_background {
  background-image: url("../images/services/webp/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_c_image {
  max-width: 700px;
}
.services_icon_background {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
}
.services_card_parent:hover .services_icon_background {
  background: linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%);
  border: 1px solid transparent;
  backdrop-filter: blur(5.5px);
}
.services_icon {
  width: 50px;
}

.following_up_card_parent {
  top: 4%;
  left: 48%;
}
.following_up_card_parent .services_text_parent {
  max-width: 256px;
}

.speed_lead_up_card_parent {
  top: 20%;
  right: 5%;
}
.speed_lead_up_card_parent .services_text_parent {
  max-width: 282px;
}
.communication_card_parent {
  bottom: 20%;
  right: 5%;
}
.communication_card_parent .services_text_parent {
  max-width: 282px;
}

.user_role_card_parent {
  bottom: 5.5%;
  left: 46%;
}
.user_role_card_parent .services_text_parent {
  max-width: 329px;
}

.user_setting_card_parent {
  bottom: 22%;
  left: 0%;
}
.user_setting_card_parent .services_text_parent {
  max-width: 356px;
}

.user_info_card_parent {
  bottom: 45%;
  left: 0.7%;
}
.user_info_card_parent .services_text_parent {
  max-width: 290px;
}

.miss_call_card_parent {
  top: 16%;
  left: 8%;
}
.miss_call_card_parent .services_text_parent {
  max-width: 290px;
}

/* SERVICES CSS END */

/* MEDIA QUERYS */
@media (max-width: 1199.98px) {
  .speed_lead_up_card_parent {
    right: 0%;
  }
  .speed_lead_up_card_parent .services_text_parent {
    max-width: 240px;
  }
  .communication_card_parent {
    right: -0%;
  }
  .communication_card_parent .services_text_parent {
    max-width: 270px;
  }
  .user_setting_card_parent .services_text_parent {
    max-width: 300px;
  }

  .user_info_card_parent {
    left: 0%;
  }
  .user_info_card_parent .services_text_parent {
    max-width: 250px;
  }

  .miss_call_card_parent {
    left: 0%;
  }
  .miss_call_card_parent .services_text_parent {
    max-width: 290px;
  }
}
@media (max-width: 991.98px) {
  .services_icon_background {
    max-width: 70px;
    max-height: 70px;
  }
  .services_icon {
    max-width: 30px;
  }

  .following_up_card_parent .services_text_parent {
    max-width: 240px;
  }

  .speed_lead_up_card_parent .services_text_parent {
    max-width: 240px;
  }
  .communication_card_parent .services_text_parent {
    max-width: 240px;
  }
  .user_role_card_parent .services_text_parent {
    max-width: 240px;
  }
  .user_setting_card_parent .services_text_parent {
    max-width: 240px;
  }
  .user_info_card_parent .services_text_parent {
    max-width: 240px;
  }
  .miss_call_card_parent .services_text_parent {
    max-width: 240px;
  }
}

@media (max-width: 768.98px) {
  .following_up_card_parent .services_text_parent {
    max-width: unset;
  }
  .speed_lead_up_card_parent .services_text_parent {
    max-width: unset;
  }
  .communication_card_parent .services_text_parent {
    max-width: unset;
  }
  .user_setting_card_parent .services_text_parent {
    max-width: unset;
  }
  .user_info_card_parent .services_text_parent {
    max-width: unset;
  }
  .miss_call_card_parent .services_text_parent {
    max-width: unset;
  }
}
