/* SERVICES CSS START */
.services_background {
  background-image: url("../images/services/webp/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_c_image {
  max-width: 700px;
}
.services_icon_background {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
}
.services_icon {
  width: 50px;
}

.following_up_card_parent {
  top: 4%;
  left: 48%;
}
.following_up_card_parent .services_text_parent {
  max-width: 282px;
}

.speed_lead_up_card_parent {
  top: 20%;
  left: 59%;
}
.speed_lead_up_card_parent .services_text_parent {
  max-width: 282px;
}
.communication_card_parent {
  bottom: 20%;
  left: 58%;
}
.communication_card_parent .services_text_parent {
  max-width: 282px;
}
.user_role_card_parent {
  bottom: 4%;
  left: 46%;
}
.user_role_card_parent .services_text_parent {
  max-width: 329px;
}
.services_card_parent:hover .services_icon_background {
  background: linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%);
  backdrop-filter: blur(5.5px);
}
/* SERVICES CSS END */
