.started_bg {
  background-image: url("../images/background/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.get_started_description {
  max-width: 512px;
  margin: 0 auto;
  line-height: 150%;
}
.started_card_boxes {
  border-radius: 7.924px;
  z-index: 1;
  border: 1px solid var(--Blue, #0075d6);
  background: rgba(0, 117, 214, 0.05);
  backdrop-filter: blur(7.131249904632568px);
  padding: 20px 17px 58px 20px;
}
.started_card_description {
  line-height: 150%;
  padding-top: 10px;
}
.started_icons_bg_circle {
  border-radius: 58.8px;
  background: var(--Liner, linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%));
  box-shadow: 0px 0px 23.8px 0px rgba(1, 137, 225, 0.3);
  padding: 14px;
}
.started_icons_bg_circle::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
  background: var(--Liner, linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%));
}
.started_icons_bg_circle:hover::after {
  opacity: 1;
}
.started_cards_number {
  line-height: 112.5%;
  opacity: 0.1;
}

/* HOVER  */
.started_card_boxes:hover::after {
  opacity: 1;
}
.started_card_boxes:hover {
  border: 1px solid var(--Sky, #00bbfc);
}
.started_card_boxes::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  background: var(--Liner, linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%));
}
.started_card_boxes:hover .started_cards_number {
  opacity: 0.2;
}
.started_card_boxes:hover .started_icons_bg_circle {
  background: #fff !important;
}
.started_card_boxes:hover .started_icons_bg_circle svg path {
  fill: #019eed;
}
/* FEATURED CSS  */
.featured_bg {
  background-image: url("../images/featured/featured_bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.featured_box {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #00003c;
  backdrop-filter: blur(25px);
  padding: 30px 146px 46px 24px;
}
.featured_box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 8px;
  border-radius: 10px;
  background: var(--Liner, linear-gradient(225deg, #00bbfc 0%, #0075d6 89.48%));
}
.started_top_gradient_layer {
  background: linear-gradient(
    180deg,
    #00003c 3.82%,
    rgba(0, 0, 60, 0.78) 44.47%,
    rgba(0, 0, 60, 0) 100%
  );
  height: 155px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
}
.started_bottom_gradient_layer {
  background: linear-gradient(
    360deg,
    #00003c 3.82%,
    rgba(0, 0, 60, 0.78) 44.47%,
    rgba(0, 0, 60, 0) 100%
  );
  height: 106px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.featured_top_gradient_layer {
  background: linear-gradient(
    180deg,
    #00003c 3.82%,
    rgba(0, 0, 60, 0.78) 44.47%,
    rgba(0, 0, 60, 0) 100%
  );
  height: 106px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -1px;
  pointer-events: none;
}
.featured_bottom_gradient_layer {
  background: linear-gradient(
    360deg,
    #00003c 3.82%,
    rgba(0, 0, 60, 0.78) 44.47%,
    rgba(0, 0, 60, 0) 100%
  );
  height: 106px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
/* MEDIA SCREEN  */
@media (max-width: 1024.98px) {
  .featured_box {
    padding: 30px;
  }
  .featured_bg {
    background-size: cover;
  }
 
}
@media (max-width: 767.98px) {
  .started_top_gradient_layer {
    height: 75px;
  }
  .featured_bottom_gradient_layer {
    height: 60px;
  }
  .featured_top_gradient_layer {
    height: 60px;
  }
  .started_bottom_gradient_layer {
    height: 60px;
  }
  .featured_icons {
    width: 40px !important;
    height: 40px !important;
  }
  .started_icons_bg_circle svg {
    width: 30px;
    height: 30px;
  }
  .started_icons_bg_circle {
    padding: 8px;
  }
}
@media (max-width: 575.98px) {
  .featured_box {
    padding: 20px;
  }
  #back-to-top {
    width: 30px;
    height: 30px;
  }
  .bg_linear {
    height: 398px !important;
  }
  .custom_margin {
    margin-top: 24px;
  }
  .dotted_lines::before {
    content: "";
    display: none;
  }
}
@media (min-width: 992px) {
  .position_lg_absolute {
    position: absolute;
  }
  .translate_lg_middle_y {
    transform: translateY(-50%);
  }
  .pb_lg_240 {
    padding-bottom: 240px;
  }
  .pt_lg_160px {
    padding-top: 160px;
  }
}
@media(min-width:1600px){
  .featured_bg{
    background-size: cover;
  }
}